<div class="container__form">
  <p>Preencha os campos abaixo com as seguintes informações que em breve eu entrarei em contato.</p>
  <form action="" class="">
    <div class="form__group">
      <div class="form__item flex_column">
        <label for="name">NOME (*)</label>
        <input type="text" name="name" id="name" placeholder="Digite aqui" required>
      </div>
      <div class="form__item flex_column">
        <label for="email">EMAIL (*)</label>
        <input type="email" name="email" id="email" placeholder="example@gmail.com" required>
      </div>
    </div>
    <div class="form__group">
      <div class="form__item flex_column">
        <label for="telefone">TELEFONE</label>
        <input type="text" name="telefone" id="telefone" placeholder="Ex: (84) 99999-1111">
      </div>
      <div class="form__item flex_column">
        <label for="assunto">ASSUNTO (*)</label>
        <input type="text" name="assunto" id="assunto" placeholder="Digite aqui" required>
      </div>
    </div>
    <div class="form__group">
      <div class="form__item flex_column">
        <label for="mensagem">MENSAGEM (*)</label>
        <textarea name="" id="" cols="30" rows="10" placeholder="Escreva aqui"></textarea>
      </div>
    </div>
    <div class="form__area_button align_center_row">
      <app-button label="Enviar" [isSubmitActive]="true" [isDefaultButton]="false"></app-button>
    </div>
  </form>
</div>
