@media screen and (max-width: 555px) {
  .container__normal_card {
    grid-template-columns: repeat(3, 1fr);
  }

  .container__icons ul {
    flex-direction: column;
<<<<<<< HEAD
    row-gap: 20px;
=======
    column-gap: 20px;
>>>>>>> 4d98f17 (style: modify and change the form component style to be responsive)
  }
}
