<nav class="navbar">
  <a href="#" id="navbar__logo">Italo Hortiz</a>
  <ul class="navbar__menu">
    <li><a href="#" class="navbar__menuLink">Serviços</a></li>
    <li><a href="#" class="navbar__menuLink">Projetos</a></li>
    <li><a href="#" class="navbar__menuLink">Contatos</a></li>
  </ul>
  <ul class="navbar__social">
    <li><a href="#" class="navbar__socialItem">Github</a></li>
    <li><a href="#" class="navbar__socialItem">Instagram</a></li>
    <li><a href="#" class="navbar__socialItem">E-mail</a></li>
  </ul>
</nav>
