<div class="container">
  <div class="footer__content">
    <div class="emoji_area">
      <p class="emoji">EMOJI</p>
    </div>

    <div class="footer__item social__area_item">
      <app-menu-bar [isHorizontalMenu]="false" [isVerticalMenu]="true" [mainMenu]="false" [socialMenu]="true"></app-menu-bar>
    </div>
    <div class="align_center_row" id="contact">
      <div class="footer__item">
        <div class="contact_area align_center_column">
          <div class="contact_item">TELEFONE PARA CONTATO</div>
          <div class="">(84) 994203364</div>
        </div>
        <div class="contact_area align_center_column">
          <div class="contact_item">E-MAIL PARA CONTATO</div>
          <div class="">italohortiz28@gmail.com</div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright align_center_row">
    <p>Copyright &copy; 2023 Italo Hortiz</p>
  </div>
</div>
