.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #FFF;
}

.footer__content {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.footer__item {
  width: 100%;
  column-gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji_area {
  position: absolute;
  top: 0;
  left: 48.5%;
}

.social__area_item {
  display: flex;
  justify-content: center;
}

.contact_area {
  width: 100%;
  min-height: 150px;
  row-gap: 20px;
}

.contact_item {
  font-weight: 700;
}

#contact > div {
  width: 100%;
  height: 100%;
}

.copyright {
  min-height: 20vh;
}
