<div class="container">
  <div class="footer__content">
    <div class="footer__item align_center_column">
      <app-menu-bar [isHorizontalMenu]="false" [isVerticalMenu]="true" [mainMenu]="true"></app-menu-bar>
    </div>

    <div class="footer__item emoji_area align_center_column">
      <p class="emoji">EMOJI</p>
      <app-menu-bar [isHorizontalMenu]="false" [isVerticalMenu]="true" [mainMenu]="false" [socialMenu]="true"></app-menu-bar>
    </div>

    <div class="align_center_row" id="contact">
      <div class="footer__item align_center_row">
        <div class="contact_area align_center_column">
          <div class="contact_item">TELEFONE PARA CONTATO</div>
          <div class="contact_item">E-MAIL PARA CONTATO</div>
        </div>
        <div class="contact_area align_center_column">
          <div class="contact_item">(84) 994203364</div>
          <div class="contact_item">italohortiz28@gmail.com</div>
        </div>
      </div>
    </div>

  </div>

  <div class="copyright align_center_row">
    <p>Copyright 2023 Italo Hortiz</p>
  </div>
</div>
