<div class="container">
  <div *ngIf="sampleInformation" class="container__template_sample">
    <span class="container__label">
      Jr. Full-Stack Developer
    </span>
    <h1 class="container__title">
      Italo Hortiz
    </h1>
  </div>

  <div *ngIf="fullInformation" class="container__template_full">
    <h1 class="title_red">Olá,</h1>
    <p class="container__paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tempus pellentesque volutpat.
      Duis commodo lectus sed dui porttitor euismod. Vestibulum sodales sollicitudin leo ut viverra.
      In aliquet dolor purus, non finibus dolor cursus et. Fusce molestie lacinia libero.
      Nunc at libero nec ligula egestas pharetra. Cras ligula urna, tristique ac efficitur id, mollis id diam.
      Aenean malesuada eros vel erat feugiat accumsan. Aliquam erat volutpat. Curabitur at metus et neque ornare dapibus et nec sem.
      Nam sit amet ligula non massa lacinia accumsan.
    </p>
  </div>
</div>
